.gnb-nav {
  &-list {
    @include flexbox(start);
  }

  &-item {
    a {
      @include text-style(18);
      font-weight: bold;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $blue;
      }
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
