.lnb {
  @include no-scrollbar;
  overflow-x: auto;
  overflow-y: visible;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-list {
    @include inline-flexbox(start);
    margin-left: -8px;
    white-space: nowrap;
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $lnb-height-sm;
      padding: 0 8px;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }

    &.is-active {
      a {
        position: relative;
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;

    .lnb-list {
      margin-left: 0;
    }

    .lnb-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
